@import '~bulma/sass/utilities/initial-variables';

$primary: #334fa7;
$primary-darker: #101748;
$primary-lighter: #667ec4;

$secondary: #87d64b;
$success: $secondary;
$family-primary: 'Source Sans Pro';

@import '~bulma/bulma.sass';
@import './base';
@import './navbar';
@import './footer';
@import './404';

body {
  overflow-x: hidden;
}

.grn-underline {
  text-decoration: underline;
  text-decoration-color: $secondary;
}

.column.awd-mobile-show {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
.column.awd-mobile-hide {
  display: block;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
