@import '~bulma/sass/utilities/initial-variables';

$primary: #0f1752;
$primary-darker: #090135;
$primary-darkest: #010116;
$primary-lighter: #353170;
$primar-lightest: #64638b;

$solitude: #ecebf6;
$alabaster: #fafafa;
$atlantis: #93e342;
$success: $atlantis;
$family-primary: 'Source Sans Pro';

@import '~bulma/bulma.sass';
@import './navbar';

a {
  color: $atlantis;
}

.grn-underline {
  text-decoration: underline;
  text-decoration-color: #93e342;
}

section.section:nth-of-type(odd) {
  background-color: $solitude;
}
section.section:nth-of-type(even) {
  background-color: $alabaster;
}
.footer {
  background-color: $primary;
  color: $alabaster;
  .title {
    color: $alabaster;
  }
  a {
    color: $alabaster;
    &:hover {
      @extend .grn-underline;
    }
  }
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.bg {
  background: linear-gradient(to top right, #fafafa, #ecebf6);
  box-shadow: 1px 1px 4px #7a74c5;
}
